
.flex{
  display: flex;
}
header{
  margin-top: 52px;
  margin-left: 140px;
  margin-right: 140px;
}

.nav-links{
  align-items: center;
  margin-left: 707px;
}

.nav-links li {
  display: inline-block;
}
.nav-links li a {
  font-family: 'Archy EDT';
  color: #707070;
  font-size: 20px;
}
.nav-1{
  margin-right: 53px;
}
.nav-2{
  margin-right: 70px;
}
.nav-3 {
  margin-right: 105px;
}
.nav-4{
  margin-right: 78px;
}
.nav-search{ 
  width: 25.5px;
  height: 25.5px;
  cursor:pointer;
}
.slider-container {
  max-width: 1640px;
  width: 100%;
}
.slide{
  margin: 60px 140px 153px 140px;
}
.articles {
  margin-left: 140px;
  margin-right: 140px;
}

.articles-h2{
  font-family: 'Archy EDT';
  font-size: 40px;
  color: #707070;
  margin-bottom: 75px;
}

.article-1{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin-right: 95px;
}

.article1-h2{
  font-family: 'Archy EDT';
  font-size: 30px;
  color: #707070;
  margin-top: 20px;
  margin-bottom: 30px;
}

.article1-p{
  font-family: 'Archy EDT';
  font-size: 18px;
  color: #707070;
  width: 446px;
  margin-bottom: 70px;
}

.btn{
 margin-left: 400px;
 border: none;
 font-family: 'Archy EDT';
 font-size:24px;
 color: #707070;
}